<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon', href='/images/favicon.png', type='image/png'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
    <!-- TODO: CAMBIAR COLORES  -->
    <link rel='stylesheet', href='/css/style.css'>
  </head>

  <body>
    <div class="cover">
      <div class="navbar">
        <div class="container">
          <div class="navbar-header"></div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right"></ul>
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image: url('/images/background1.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Error</h1>
            <p class="text-inverse"><%= error %></p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript', src='https://d3js.org/d3.v4.min.js' charset="utf-8"></script>
    <script type='text/javascript', src='/js/personality-sunburst-chart.standalone.min.js' charset="utf-8"></script>
    <script type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>

</html>
